.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-auto-flow: row dense;

    justify-content: center;
}

.big-block {
    grid-column: span 8;
}

.medium-block {
    grid-column: span 4;
}

@media (max-width: 1400px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 1024px) {

    .big-block,
    .medium-block {
        grid-column: span 8;
    }
}